<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopmate.shopmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/shopping_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ListMembersActivity"
            android:label="Members in this list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WalmartSearch"
            android:label="@string/walmart_search"
            android:parentActivityName=".AddItemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddItemActivity"/>
        </activity>

        <activity
            android:name=".InviteRequestsActivity"
            android:label="@string/title_activity_invite_requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestHistoryActivity"
            android:label="RequestHistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SharingListsActivity"
            android:label="@string/title_activity_sharing_lists"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".InstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".InviteService"
            android:exported="false"></service><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>